<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245184801329-3irgvst7dm21he1c6jh67mli9o9eockf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245184801329-3irgvst7dm21he1c6jh67mli9o9eockf</string>
	<key>API_KEY</key>
	<string>AIzaSyB7t5ETcWvVvRs4R_B-hYKhihNkSzjAd5w</string>
	<key>GCM_SENDER_ID</key>
	<string>245184801329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.navigation</string>
	<key>PROJECT_ID</key>
	<string>fbauth-9f363</string>
	<key>STORAGE_BUCKET</key>
	<string>fbauth-9f363.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245184801329:ios:ee9a5d8cf7652db5e6c310</string>
	
	
</dict>
</plist>